@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    font-family: 'Mulish';
}

.navbar ul li a{
    font-family: 'Poppins';
}

#hero{
    padding-top: 200px;
    height: 100vh;
}

#web-text{
    font-size: 20px;
    font-weight: 600;
    color: #FFC637;
    font-family: 'Nunito';
}

#text-nama{
    font-size: 64px;
    color: white;
    font-weight: bold;
}

#text-perkenalan-saya{
    font-size: 22px;
    width: 450px;
}

#image-bg{
    width: 661px;
    height: 580px;
    position: absolute;
    top: 0;
}

#projects h2{
    font-family: 'Mulish';
    font-weight: 700;
}

#foto-email{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#gambar-footer > *{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

@media screen and (max-width:500px) {

    /* hero */
    #hero{
    padding-top: 225px;
    height: 100vh;
}

    #hero img{
        display: none;
    }

    #web-text{
    font-size: 20px;
    font-weight: 600;
    color: #FFC637;
    font-family: 'Nunito';
}

#text-nama{
    font-size: 44px;
    color: white;
    font-weight: bold;
}

#text-perkenalan-saya{
    font-size: 14px;
    width: 300px;
}

#image-bg{
    width: 661px;
    height: 580px;
    position: absolute;
    top: 0;
}

/* akhir hero */


/* projects */

#project-desc{
    padding: 30px 15px;
}

#project-desc h1{
    font-size: 22px;
    font-weight: bold;
}

#project-desc p{
    font-size: 16px;
}

#project-gambar img{
    margin-left: 12px;
}

#projects h2{
    font-family: 'Mulish';
    font-weight: 700;
}

#project-desc2{
    padding: 30px 15px;
}

#project-desc2 h1{
    font-size: 22px;
    font-weight: bold;
}
/* akhir projects */


/* footer */


#gambar-footer > *{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

/* akhir footer */

}