@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


html{
    font-family: 'Poppins';
    background-color: #0c0c0c;
}

/* hero */

#hero{
    padding-top: 200px;
    background-color: #0c0c0c;
    height: 100vh;
}

#hero h1{
    font-size: 48px;
    color: #FFC637;
    margin-bottom: 10px;
}

#hero p{
    font-size: 22px;
    width: 588px;
    text-align: justify;
}

#hero img{
    position: absolute;
    top: 80px;
    right: 50px;
    width: 524px;
    height: 524px;
}

/* akhir hero */


/* skills */

#skills{
    padding-top: 200px;
    background-color: #0c0c0c;
}

#html{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#html img{
    width: 160px;
    height: 160px;
}

#css{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#css img{
    width: 160px;
    height: 160px;
}

#js{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#js img{
    width: 160px;
    height: 160px;
}

#bootstrap{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
    margin-top: 20px;
}

#bootstrap img{
    width: 160px;
    height: 160px;
}

/* akhir skills */



/* tools */

#tools{
    padding-top: 200px;
    background-color: #0c0c0c;
}

#vscode{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#vscode img{
    width: 160px;
    height: 160px;
}

#github{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#github img{
    width: 160px;
    height: 160px;
}

#figma{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 37px 94px 12px 94px;
}

#figma img{
    width: 160px;
    height: 160px;
}

#wordpress{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    margin-top: 20px;
    width: 350px;
    height: 286px;
}

#wordpress img{
    width: 160px;
    height: 160px;
}

/* akhir tools */



/* contacts */

#contacts{
    padding-top: 200px;
}

#foto-email{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#gambar-footer > *{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

/* akhir contacts */


/* responsive */

/* tablet */

@media screen and (max-width:992px){
    /* hero */

#hero{
    padding-top: 200px;
    background-color: #0c0c0c;
    height: 100vh;
}


#hero h1{
    font-size: 38px;
    color: #FFC637;
    margin-bottom: 10px;
}

#hero p{
    font-size: 20px;
    width: fit-content;
    text-align: center;
}

#hero img{
    position: static;
    margin-left: 185px;
    top: 0;
    right: 0;
    width: 324px;
    height: 324px;
}

/* akhir hero */


/* skills */

#skills{
    padding-top: 400px;
    background-color: #0c0c0c;
}

#html{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#html img{
    width: 100px;
    height: 100px;
}

#css{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#css img{
    width: 100px;
    height: 100px;
}

#js{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#js img{
    width: 100px;
    height: 100px;
}

#bootstrap{
    margin-top: 20px;
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#bootstrap img{
    width: 100px;
    height: 100px;
}

/* akhir skills */



/* tools */

#tools{
    padding-top: 100px;
    background-color: #0c0c0c;
}

#vscode{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#vscode img{
    width: 100px;
    height: 100px;
}

#github{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#github img{
    width: 100px;
    height: 100px;
}

#figma{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#figma img{
    width: 100px;
    height: 100px;
}

#wordpress{
    margin-top: 20px;
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 200px;
    height: 200px;
}

#wordpress img{
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
}

/* akhir tools */

#h1-skill{
    font-size: 22px;
    margin-top: 10px;
}

/* contacts */

#contacts{
    padding-top: 200px;
}

#foto-email{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#gambar-footer > *{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

}

/* akhir tablet */

/* mobile */


@media screen and (max-width:500px) {
    
    #hero{
    padding-top: 200px;
    background-color: #0c0c0c;
    height: 100vh;
}


#hero h1{
    font-size: 34px;
    color: #FFC637;
    margin-bottom: 10px;
}

#hero p{
    font-size: 17px;
    width: fit-content;
    text-align: center;
}

#hero img{
    position: static;
    margin-left: 30px;
    margin-bottom: 20px;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
}

/* akhir hero */


/* skills */

#skills{
    padding-top: 400px;
    background-color: #0c0c0c;
}

#html{
    background-color: #1C1C1C;
    border-radius: 15px;
    margin-left: 20px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#html img{
    width: 60px;
    height: 60px;
}

#css{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#css img{
    width: 60px;
    height: 60px;
}

#js{
    background-color: #1C1C1C;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#js img{
    width: 60px;
    height: 60px;
}

#bootstrap{
    margin-top: 20px;
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#bootstrap img{
    width: 60px;
    height: 60px;
}

/* akhir skills */



/* tools */

#tools{
    padding-top: 100px;
    background-color: #0c0c0c;
}

#vscode{
    background-color: #1C1C1C;
    border-radius: 15px;
    margin-left: 10px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#vscode img{
    width: 60px;
    height: 60px;
}

#github{
    background-color: #1C1C1C;
    border-radius: 15px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#github img{
    width: 60px;
    height: 60px;
}

#figma{
    background-color: #1C1C1C;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#figma img{
    width: 60px;
    height: 60px;
}

#wordpress{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #1C1C1C;
    border-radius: 15px;
    margin-left: 0;
    padding: 30px 0;
    width: 150px;
    height: 150px;
}

#wordpress img{
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-left: 0;
}

/* akhir tools */



/* contacts */

#contacts{
    padding-top: 200px;
}

#foto-email{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#gambar-footer > *{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

}

/* akhir mobile */

/* akhir responsive */